.App {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

body{
  padding: 0;
  margin: 0;
}

.blog-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-btn{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
}

.card-container{
  margin: 6px;
  cursor:grab;
}

.card-container:hover{
  box-shadow:rgba(0,0,0,0.35) 0px 5px 15px; 
}

.post-btn{
  margin: 1rem;
  margin-left: 56rem;
}

.about{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.about-action-btn{
  margin:1rem;
}

.about-action-btn:hover{
  background-color: #fff;
  color: #111111;
}

.bio{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 18rem;
}
.about-app{
margin-top: 8rem;
margin-bottom: 2rem;
}
.blog-page{
  margin-bottom: "420px";
  text-align: left;
}

.blog-img{
  width: 36%;
  margin-left: 55rem;
  position: absolute;
}

.dev-img{
  width: 40%;
}

.posts-img{
  width: 24%;
  margin-bottom: 18px;
}

.add_post-img{
  width: 20%;
  margin: 2rem;
}

textarea{
  resize: none;
}

.update_post_txt{
  margin: 8rem;
}

.blog-btn{
  margin: 20px 38px 10px;
  position: relative;

}

.blog-table{
  border: 2px solid #000;
  margin-top: 12px;
}

.blog-intro{
  margin: 20px 38px 10px;
}

.view-btn{
  font-size: 18px;
  color: black;
}
.del-btn{
  font-size: 18px;
  color: red;
}

.user-heading{
  margin: 4rem;
}

.post-heading{
  margin: 4rem;
}

.profile-sidebar{
  width: 320px;
  margin: 5rem;
}

.profile-info{
  margin: 4px;
  color: #161616;
}

.profile-info p{
  background-color: rgb(216, 216, 216);
  margin: 12px;
  padding: 8px;
  border-radius: 5px;
}
.profile-info-card{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}